/* GLOBAL */

* {
    box-sizing: border-box;
}

:root{
    --dark: #30302C;
    --light: white;
}

/* BODY */

html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body{
    background-image: url('img/pexels-brett-sayles-5489457.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    overflow-y: auto;
}

/* HEADER */

header{
    padding: 0.5em;
    color: var(--dark);
    background-color: var(--light);
    box-shadow: 0 2px 7px black;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin: 0;
}

#log-area.hide-log{
    display: none;
}

/* FOOTER */

footer{
    margin: 0.5em;
    color: var(--light);
    text-shadow: 1px 1px 2px black;
}

/* MAIN */

main{
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* GAME AREA */

#game-area{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

#player-shelf{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

#play-area{
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#card-shelf, #my-card-shelf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    min-height: 14em;
}

#round-options{
    text-align: center;
    padding: 0.25em;
    margin: 0.5em;
    background-color: var(--light);
    border-radius: 0.25em;
    box-shadow: 2px 2px 7px black;
}

#solo-deux-container{
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid black;
    border-radius: 0.25em;
}

#my-shelf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

#me{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

#my-options{
    margin: 0.5em;
    background-color: var(--light);
    color: var(--dark);
    padding: 0.5em;
    border-radius: 0.25em;
    box-shadow: 2px 2px 7px black;
}

/* TABLE FORM */

#table-form{
    margin: 0.5em;
    background-color: var(--light);
    color: var(--dark);
    border-radius: 0.5em;
    box-shadow: 2px 2px 7px black;
}

/* PLAYER */

.player{
    width: 6em;
    background-color: var(--light);
    color: var(--dark);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.25em;
    box-shadow: 2px 2px 7px black;
}

.player.player-turn{
    box-shadow: 0 0 7px 3px dodgerblue !important;
}

.player.ready{
    border: 1px solid green;
    font-weight: bold;
}

.player-name{
    font-weight: bold;
}

.player-ready{
    color: green;
}

.dealer{
    color: dodgerblue;
    font-weight: bold;
}

/* LOG */

#log-area{
    margin: 0.5em;
    max-height: 88vh;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    overflow: hidden;
    border-radius: 0.25em;
    box-shadow: 2px 2px 7px black;
}

#log{
    overflow-y: auto;
}

#log table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--light);
}

#log th, #log td{
    padding: 0.5em;
    text-align: left;
}

#log th{
    color: #888;
    min-width: 7em;
}

#log td.error, .temp-msg.error{
    color: crimson;
}

#log td.server, .temp-msg.server{
    color: orange;
}

#log td.game, .temp-msg.game{
    color: green;
}

#log td.strategy, .temp-msg.strategy{
    color: dodgerblue;
}

#log td.announcement, .temp-msg.announcement{
    font-weight: bold;
    color: var(--dark);
}

#log tr.fade-in{
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    opacity: 0;
    transform: translate(-20%, 0);
}

#log tr.visible{
    opacity: 1.0 !important;
    transform: translate(0, 0);
}

#log tr:nth-child(odd){
    background-color: #fafafa;
}

fieldset{
    margin: 1em;
}

fieldset th, fieldset td{
    padding: 0.2em;
    text-align: left;
}

input[type=text], input[type=password], input[type=submit], select, button{
    padding: 0.4em;
    margin: 0.5em;
}

input[type=checkbox]{
    margin: 0;
}

#text-row{
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    border-top: 1px solid var(--dark);
}

#send-text{
    flex-grow: 1;
    resize: none;
    border: none;
    padding: 0.5em;
}

#send-btn{
    margin: 0;
    border: none;
    border-left: 1px solid var(--dark);
    border-radius: 0;
}

/* Cards */

#my-hand{
    min-width: 25em;
    margin: 0.5em;
    background: linear-gradient(#fff0, var(--light));
    border-radius: 0.25em;
    box-shadow: 2px 2px 7px black;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-holder{
    min-width: 5em;
    min-height: 7em;
}

.card{
    width: 5em;
    height: 7em;
    border-radius: 0.25em;
    border: 1px solid black;
    margin: 0.25em;
    position: relative;
    background-color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.card.winner{
    box-shadow: 0 0 7px 3px dodgerblue;
}

.card.playable{
    transition: transform 50ms ease-in-out, box-shadow 50ms ease-in-out;
    transform: translate(0, 0);
}

.card.playable:hover{
    transform: translate(-2px, -6px);
    box-shadow: 2px 2px 7px black;
}

.card.H, .card.D{
    color: red;
}

.card.C, .card.S{
    color: black;
}

.card-value{
    position: absolute;
    margin: 5%;
    left: 0;
    top: 0;
    font-size: 1em;
    font-weight: bold;
}

.card .suit-img{
    width: 40%;
}

.card .suit-img.suit-sm{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 5%;
    width: 20%;
}

#log .suit-img.suit-sm, #temp-log .suit-img.suit-sm {
    height: 1em;
}

.animate-transform-down, .animate-transform-up{
    transition: all 0.5s ease-out;
    position: relative;
    opacity: 0;
}

.animate-transform-down{
    transform: translate(0, -100%);
}

.animate-transform-up{
    transform: translate(0, 100%);
}

.animate-transform{
    transform: translate(0, 0);
    opacity: 1.0;
}

/* ERROR LOG */

#temp-log{
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
}

.temp-msg{
    background-color: var(--light);
    color: black;
    padding: 0.5em;
    margin: 0.25em;
    box-shadow: 2px 2px 7px black;
    border-radius: 0.25em;
    opacity: 1.0;

    transition: opacity 1s ease-in;
}

/* MOBILE */

@media only screen and (max-width: 768px){

    #log-area{
        margin: 0;
        max-height: 90%;
        max-width: unset;

        position: absolute;
        top: 0.5em;
        left: 0.5em;
        right: 0.5em;

        opacity: 0.9;
    }

    #card-shelf, #my-card-shelf{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    
        min-height: 3.5em;
    }

    .card{
        height: 3.5em;
        width: 2.5em;
    }

    .card-value{
        font-size: 0.7;
    }

    #my-hand{
        min-width: 90vw;
    }

}