#log{
    max-height: 600px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid black;
}

#log table {
    width: 100%;
    border-collapse: collapse;
}

#log th, #log td{
    padding: 0.5em;
    text-align: left;
}

#log th{
    color: #888;
    max-width: 4em;
}

#log td.error{
    color: crimson;
}

#log td.server{
    color: dodgerblue;
}

#log td.game{
    color: green;
}

#log td.strategy{
    color: orange;
}

#log tr:nth-child(odd){
    background-color: #fafafa;
}

fieldset{
    margin: 1em;
}

fieldset th, fieldset td{
    padding: 0.2em;
    text-align: left;
}

footer{
    padding: 0.5em;
    margin-top: 1em;
}

input, select, button{
    padding: 0.4em;
    margin: 0.5em;
}

#text-row{
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    border: 1px solid black;
    border-top: none;
}

#send-text{
    flex-grow: 1;
}

#send-btn{
    margin: 0;
}