#log{
    max-height: 40vh;
    width: 100%;
    overflow-y: auto;
    border: 1px solid black;
}

#log table {
    width: 100%;
    border-collapse: collapse;
}

#log th, #log td{
    padding: 0.5em;
    text-align: left;
}

#log th{
    color: #888;
    max-width: 4em;
}

#log td.error{
    color: crimson;
}

#log td.server{
    color: orange;
}

#log td.game{
    color: green;
}

#log td.strategy{
    color: dodgerblue;
}

#log tr:nth-child(odd){
    background-color: #fafafa;
}

fieldset{
    margin: 1em;
}

fieldset th, fieldset td{
    padding: 0.2em;
    text-align: left;
}

footer{
    padding: 0.5em;
    margin-top: 1em;
}

input[type=text], input[type=password], input[type=submit], select, button{
    padding: 0.4em;
    margin: 0.5em;
}

input[type=checkbox]{
    margin: 0;
}

#text-row{
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    border: 1px solid black;
    border-top: none;
}

#send-text{
    flex-grow: 1;
}

#send-btn{
    margin: 0;
}

/* Game Container */

#game-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

#log-container{
    flex-grow: 1;
    flex-shrink: 1;
}

#game-options-container{
    flex-grow: 2;
}

/* Cards */

#hand{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card{
    width: 5em;
    height: 7em;
    border-radius: 0.25em;
    border: 1px solid black;
    margin: 0.25em;
    position: relative;
    background-color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.card.playable:hover{
    transform: translate(-2px, -2px);
}

.card.H, .card.D{
    color: red;
}

.card.C, .card.S{
    color: black;
}

.card-value{
    position: absolute;
    padding: 0.25em;
    left: 0;
    top: 0;
    font-size: 1em;
    font-weight: bold;
}

.card .suit-img{
    width: 60%;
}

.card .suit-img.suit-sm{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.25em;
    width: 1em;
}

#log .suit-img.suit-sm {
    height: 1em;
}